
.login{
  text-align: center;
  margin: auto;
  border: 2px solid grey;
  background-color: rgb(201, 197, 197);
  width: 250px;
  border-radius: 15px;
  margin-top: 150px;
  padding: 40px;
}
.inputOF{
  width: 300px;
  height: 30px;
  font-size: 16px;
}
.inButton{
   width: 100px;
   height: 50px;
}
.navbar{
  border: 1px solid rgb(20, 19, 19);
  display: flex;
  color: azure;
  background-color: rgb(67, 56, 56);
  font-size: 26px;
  padding: 20px;
}
.product{
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
  margin: 15px;
}
.allProduct{
  display: flex;
  column-gap: 80px;
  row-gap: 50px;
  flex-wrap: wrap;
  
}